<h1>Mark as done</h1>

<p>Title: <%= @task.title %></p>
<p>Details: <%= @task.details %></p>

<%= link_to "Remove Task", task_path(@task), data: {turbo_method: :delete, turbo_confirm: "Are you sure to remove ?"} %>
